<!DOCTYPE html>
<html>
<head>
  <title>Make Reference Image</title>
  <script src="/gs/jquery-3.6.0.min.js"></script>
  <link rel="shorcut icon" type="image/png" href="/gs/bregana-logo.png" />
  <style>
  @font-face {
    src: url("/gs/Quicksand-Regular.ttf");
    font-family: "Quicksand"
  }
  body {
    background-color: #ddd;
    font-family: "Quicksand", sans-serif;
    min-width: 1300px;
  }
  button {
    font-family: "Quicksand", sans-serif;
  }
    #left_side {
      width: 100px;
      float: left;
    }

    #drawing_board {
      width: 1200px;
      margin-left: 110px;
    }

    .pane h2 {
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 5px;
    }
    canvas {
      border: 1px solid gray;
      position: absolute;
    }
    #drawing_canvas {
      background-color: #fff;
    }
    h2, h3 {
      margin: 0px;
    }
    .t {
      margin-bottom: 10px;
      border: 1px solid gray;
    }
    .t.active {
      border: 1px solid green;
      background-color: #666;
      color: white;
    }
  </style>

  <script>
  canvasWidth = 1200;
  canvasHeight = 600;

  function drawRefLine(e, ctx) {
    var canvasOffset = $("#divider_canvas").offset();
    var offsetX = canvasOffset.left;
    var offsetY = canvasOffset.top;

    mouseX = parseInt(e.clientX - offsetX);
    mouseY = parseInt(e.clientY - offsetY);
    var randomColor = Math.floor(Math.random()*16777215).toString(16);
    if (e.ctrlKey == false) {
      drawLine(ctx, [0, mouseY], [canvasWidth, mouseY], "#" + randomColor, .5)
    } else {
      // erase line
      ctx.clearRect(0, mouseY-2, canvasWidth, 4);
    }

  }

  $(document).ready(function() {
    $(".t").click(function(e) {
      $(".t").removeClass("active");
      $(e.target).addClass("active");
    });

    var dividerCanvas = document.getElementById('divider_canvas');
    var dividerCanvasCtx = dividerCanvas.getContext('2d');
    // draw divider line
    drawLine(dividerCanvasCtx, [canvasWidth/2, 0], [canvasWidth/2, canvasHeight], "black", 1)

    var refLinesCanvas = document.getElementById('reflines_canvas');
    var refLinesCanvasCtx = refLinesCanvas.getContext('2d');

    var masksCanvas = document.getElementById('masks_canvas');
    var masksCanvasCtx = masksCanvas.getContext('2d');


    var drawingCanvas = document.getElementById("drawing_canvas");
    var drawingCanvasCtx = drawingCanvas.getContext("2d");
    var lastX;
    var lastY;
    var mouseX;
    var mouseY;
    var canvasOffset=$("#divider_canvas").offset();
    var offsetX=canvasOffset.left;
    var offsetY=canvasOffset.top;
    var isMouseDown=false;

    // these vars will hold the starting mouse position
    var startX;
    var startY;

    // masks variables
    var maskDrawn = false;
    var maskBeginX;
    var maskBeginY;
    var maskWidth;
    var maskHeight;

    $("#divider_canvas").mousedown(function (e) {
       if ( $(".t.active").attr("id") == "pencil" ) {
        mouseX = parseInt(e.clientX - offsetX);
        mouseY = parseInt(e.clientY - offsetY);

        // Put your mousedown stuff here
        lastX = mouseX;
        lastY = mouseY;
        isMouseDown = true;

      } else if ( $(".t.active").attr("id") == "draw_mask" ) {

        // save the starting x/y of the rectangle
        startX = parseInt(e.clientX - offsetX);
        startY = parseInt(e.clientY - offsetY);

        isMouseDown = true;

      } else if ( $(".t.active").attr("id") == "move" ) {

        // save the starting x/y of the rectangle
        startX = parseInt(e.clientX - offsetX);
        startY = parseInt(e.clientY - offsetY);

        isMouseDown = true;

      }

    });

    $("#divider_canvas").mouseup(function(e) {
      mouseX = parseInt(e.clientX - offsetX);
      mouseY = parseInt(e.clientY - offsetY);

      isMouseDown=false;
    })

    $("#divider_canvas").mouseout(function(e) {
      mouseX = parseInt(e.clientX - offsetX);
      mouseY = parseInt(e.clientY - offsetY);

      isMouseDown=false;
    })

    $("#divider_canvas").mousemove(function(e) {
      if ( $(".t.active").attr("id") == "pencil" && isMouseDown) {
        mouseX = parseInt(e.clientX - offsetX);
        mouseY = parseInt(e.clientY - offsetY);
        drawingCanvasCtx.beginPath();
        if (e.ctrlKey == false) {
          drawingCanvasCtx.globalCompositeOperation="source-over";
          drawingCanvasCtx.moveTo(lastX,lastY);
          drawingCanvasCtx.lineWidth = 2;
          drawingCanvasCtx.lineTo(mouseX,mouseY);
          drawingCanvasCtx.stroke();
        } else {
          drawingCanvasCtx.globalCompositeOperation="destination-out";
          drawingCanvasCtx.arc(lastX,lastY,8,0,Math.PI*2,false);
          drawingCanvasCtx.fill();
        }

        lastX = mouseX;
        lastY = mouseY;
      } else if ( $(".t.active").attr("id") == "draw_mask" && isMouseDown) {
        // get the current mouse position
        mouseX = parseInt(e.clientX - offsetX);
        mouseY = parseInt(e.clientY - offsetY);

        // Put your mousemove stuff here
        if (e.ctrlKey == false) {
          // clear the canvas
          masksCanvasCtx.clearRect(0, 0, masksCanvas.width, masksCanvas.height);

          // calculate the rectangle width/height based
          // on starting vs current mouse position
          var width = mouseX - startX;
          var height = mouseY - startY;

          // draw a new rect from the start position
          // to the current mouse position
          masksCanvasCtx.setLineDash([6]);
          // masksCanvasCtx.setStrokeColor("gray")
          masksCanvasCtx.strokeRect(startX, startY, width, height);
          // store the mask
          maskDrawn = true;
          maskBeginX = startX
          maskBeginY = startY
          maskWidth = width
          maskHeight = height
        } else {
          masksCanvasCtx.clearRect(0, 0, masksCanvas.width, masksCanvas.height);
          maskDrawn = false;
        }

      }

    })

    $("#clear_ref_lines").click(function(e) {
      refLinesCanvasCtx.clearRect(0, 0, canvasWidth, canvasHeight)
      $(".t").removeClass("active");
      $("#ref_line").addClass("active")
    })

    $("#symm").click(function(e) {
      if (maskDrawn) {

        var x1 = maskBeginX + maskWidth
        var widthOfCutMask = x1 - (canvasWidth/2)

        if (widthOfCutMask > 0) {
          drawingCanvasCtx.clearRect(0, 0, canvasWidth/2, canvasHeight)
          // clear mask
          masksCanvasCtx.clearRect(0, 0, masksCanvas.width, masksCanvas.height);
          maskDrawn = false;

          drawingCanvasCtx.save()
          var imageData = drawingCanvasCtx.getImageData(canvasWidth/2, maskBeginY, widthOfCutMask, maskHeight)

          memCanvas = document.createElement('canvas');
          // document.body.appendChild(memCanvas);
          memCanvas.width = imageData.width
          memCanvas.height = imageData.height

          var memCanvasCtx = memCanvas.getContext("2d")
          memCanvasCtx.putImageData(imageData, 0, 0)
          drawingCanvasCtx.scale(-1, 1)
          drawingCanvasCtx.drawImage(memCanvas, -(canvasWidth/2), maskBeginY )
          drawingCanvasCtx.restore()
        }

      }

      $(".t").removeClass("active")
    });

    $("#png").click(function(e) {
      // add a white background
      memCanvas = document.createElement('canvas');
      // document.body.appendChild(memCanvas);
      memCanvas.width = canvasWidth
      memCanvas.height = canvasHeight

      var memCanvasCtx = memCanvas.getContext("2d")
      memCanvasCtx.fillStyle = "#ffffff"
      memCanvasCtx.fillRect(0, 0, canvasWidth, canvasHeight)
      memCanvasCtx.drawImage(drawingCanvas, 0, 0)



      $.ajax({
        type: "POST",
        url: "/save_canvas_content",
        data: {
           imgBase64: memCanvas.toDataURL(),
           imgName: "test_1.png"
        }
      }).done(function(o) {
        const spDialog = document.getElementById('savePNGDialog');
        spDialog.showModal();
        const hideDialogTimeout = setTimeout(function() {
          spDialog.close();
        }, 2000)
      });

      $(".t").removeClass("active")

    })


    $("#divider_canvas").click(function (e) {
      if ( $(".t.active").attr("id") == "move" && maskDrawn ) {
        if (e.ctrlKey == false) {
          // get the current mouse position
          mouseX = parseInt(e.clientX - offsetX);
          mouseY = parseInt(e.clientY - offsetY);

          var imageData = drawingCanvasCtx.getImageData(maskBeginX, maskBeginY, maskWidth, maskHeight)
          drawingCanvasCtx.clearRect(maskBeginX, maskBeginY, maskWidth, maskHeight)
          drawingCanvasCtx.putImageData(imageData, mouseX, mouseY)

          masksCanvasCtx.clearRect(0, 0, masksCanvas.width, masksCanvas.height);
          masksCanvasCtx.setLineDash([6]);
          // masksCanvasCtx.setStrokeColor("gray")
          masksCanvasCtx.strokeRect(mouseX, mouseY, maskWidth, maskHeight);

          // update mask variables
          maskDrawn = true;
          maskBeginX = mouseX
          maskBeginY = mouseY
          maskWidth = maskWidth
          maskHeight = maskHeight
        } else {
          masksCanvasCtx.clearRect(0, 0, masksCanvas.width, masksCanvas.height);
          maskDrawn = false;
        }

      } else if ( $(".t.active").attr("id") == "ref_line" ) {
        drawRefLine(e, refLinesCanvasCtx);
      }
    })

  })

  function drawLine(ctx, begin, end, stroke = 'black', width = 1) {
    if (stroke) {
      ctx.strokeStyle = stroke;
    }

    if (width) {
      ctx.lineWidth = width;
    }

    ctx.beginPath();
    ctx.moveTo(...begin);
    ctx.lineTo(...end);
    ctx.stroke();
  }

  </script>
</head>
<body>
  <div id="left_side" class="pane">
    <h2>Tools</h2>
    <br><br>
    <button class="t" id="pencil">Pencil</button><br>
    <hr>
    <button class="t" id="draw_mask">Draw Mask<br>Rectangle</button><br>
    <button class="t" id="move">Move</button><br>
    <button class="t" id="symm">Symmetrize</button><br>
    <hr>
    <button class="t" id="ref_line">Reference<br>Line</button><br>
    <button class="t" id="clear_ref_lines">Clear All<br>Reference<br>Lines</button><br>
    <hr>
    <button class="t" id="png">Save as PNG</button><br>
  </div>

  <div id="drawing_board" class="pane">
    <h2>Canvas</h2>
    <canvas id="drawing_canvas" width="1200" height="600" style="z-index: 10;"></canvas>
    <canvas id="masks_canvas" width="1200" height="600" style="z-index: 20;"></canvas>
    <canvas id="reflines_canvas" width="1200" height="600" style="z-index: 40;"></canvas>
    <canvas id="divider_canvas" width="1200" height="600" style="z-index: 60;"></canvas>
  </div>

  <dialog id="savePNGDialog">
    Your 3d reference has been saved to <b>{{.OutPath}}</b>
  </dialog>
</body>
</html>
