<!DOCTYPE html>
<html>
<head>
  <title>Make Reference Image</title>
  <script src="/gs/jquery-3.6.0.min.js"></script>
  <style>
    #left_side {
      width: 90px;
      float: left;
    }

    #drawing_board {
      width: 1200px;
      float: left;
    }

    #drawing_board, #right_side {
      margin-left: 10px;
    }
    .pane h2 {
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 5px;
    }
    canvas {
      border: 1px solid gray;
      position: absolute;
    }
    h2, h3 {
      margin: 0px;
    }
    .t {
      margin-bottom: 10px;
      border: 1px solid gray;
    }
    .t.active {
      border: 1px solid green;
      background-color: #666;
      color: white;
    }
  </style>

  <script>
  canvasWidth = 1200;
  canvasHeight = 600;
  function drawRefLine(e, ctx) {
    var canvasOffset = $("#divider_canvas").offset();
    var offsetX = canvasOffset.left;
    var offsetY = canvasOffset.top;

    mouseX = parseInt(e.clientX - offsetX);
    mouseY = parseInt(e.clientY - offsetY);
    var randomColor = Math.floor(Math.random()*16777215).toString(16);
    if (e.ctrlKey == false) {
      drawLine(ctx, [0, mouseY], [canvasWidth, mouseY], "#" + randomColor, 1)
    } else {
      // erase line
      ctx.clearRect(0, mouseY-1, canvasWidth, 2);
    }

  }

  $(document).ready(function() {
    $(".t").click(function(e) {
      $(".t").removeClass("active");
      $(e.target).addClass("active");
    });

    var dividerCanvas = document.getElementById('divider_canvas');
    var dividerCanvasCtx = dividerCanvas.getContext('2d');

    var refLinesCanvas = document.getElementById('reflines_canvas');
    var refLinesCanvasCtx = refLinesCanvas.getContext('2d');

    // draw divider line
    drawLine(dividerCanvasCtx, [canvasWidth/2, 0], [canvasWidth/2, canvasHeight], "black", 1)

    var drawingCanvas = document.getElementById("drawing_canvas"),
      drawingCanvasCtx = drawingCanvas.getContext("2d"),
      painting = false,
      lastX = 0,
      lastY = 0,
      lineThickness = 1;

    $("#divider_canvas").mousedown(function (e) {
      if ( $(".t.active").attr("id") == "ref_line" ) {
        drawRefLine(e, refLinesCanvasCtx);
      } else if ( $(".t.active").attr("id") == "pencil" ) {
        painting = true;
        drawingCanvasCtx.fillStyle = "#666";
        lastX = e.pageX - this.offsetLeft;
        lastY = e.pageY - this.offsetTop;
      }

    });

    $("#divider_canvas").mouseup(function(e) {
      painting = false;
    })

    $("#divider_canvas").mousemove(function(e) {
      if ( $(".t.active").attr("id") == "pencil" && painting) {
        mouseX = e.pageX - this.offsetLeft;
        mouseY = e.pageY - this.offsetTop;

        // find all points between
        var x1 = mouseX,
            x2 = lastX,
            y1 = mouseY,
            y2 = lastY;


        var steep = (Math.abs(y2 - y1) > Math.abs(x2 - x1));
        if (steep){
          var x = x1;
          x1 = y1;
          y1 = x;

          var y = y2;
          y2 = x2;
          x2 = y;
        }
        if (x1 > x2) {
          var x = x1;
          x1 = x2;
          x2 = x;

          var y = y1;
          y1 = y2;
          y2 = y;
        }

        var dx = x2 - x1,
            dy = Math.abs(y2 - y1),
            error = 0,
            de = dy / dx,
            yStep = -1,
            y = y1;

        if (y1 < y2) {
          yStep = 1;
        }

        lineThickness = 5 - Math.sqrt((x2 - x1) *(x2-x1) + (y2 - y1) * (y2-y1))/10;
        if(lineThickness < 1){
          lineThickness = 1;
        }

        for (var x = x1; x < x2; x++) {
          if (steep) {
            drawingCanvasCtx.fillRect(y, x, lineThickness , lineThickness );
          } else {
            drawingCanvasCtx.fillRect(x, y, lineThickness , lineThickness );
          }

          error += de;
          if (error >= 0.5) {
            y += yStep;
            error -= 1.0;
          }
        }

        lastX = mouseX;
        lastY = mouseY;
      }
    })

    $("#clear_ref_lines").click(function(e) {
      refLinesCanvasCtx.clearRect(0, 0, canvasWidth, canvasHeight)
      $(".t").removeClass("active");
      $("#ref_line").addClass("active")
    })


  })

  function drawLine(ctx, begin, end, stroke = 'black', width = 1) {
    if (stroke) {
      ctx.strokeStyle = stroke;
    }

    if (width) {
      ctx.lineWidth = width;
    }

    ctx.beginPath();
    ctx.moveTo(...begin);
    ctx.lineTo(...end);
    ctx.stroke();
  }

  </script>
</head>
<body>
  <div id="left_side" class="pane">
    <h2>Tools</h2>
    <button class="t" id="pencil">Pencil</button><br>
    <hr>
    <button class="t" id="draw_mask">Draw Mask<br>Rectangle</button><br>
    <button class="t" id="move">Move</button><br>
    <button class="t" id="sym">Symmetrize</button><br>
    <hr>
    <button class="t" id="ref_line">Reference<br>Line</button><br>
    <button class="t" id="clear_ref_lines">Clear All<br>Reference<br>Lines</button><br>
  </div>

  <div id="drawing_board" class="pane">
    <h2>Canvas</h2>
    <canvas id="drawing_canvas" width="1200" height="600" style="z-index: 10;"></canvas>
    <canvas id="reflines_canvas" width="1200" height="600" style="z-index: 30;"></canvas>
    <canvas id="divider_canvas" width="1200" height="600" style="z-index: 60;"></canvas>
  </div>

</body>
</html>
